@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
/* line 2, ../sass/_grid.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/_grid.scss */
img {
  max-width: 100%;
}

/* line 12, ../sass/_grid.scss */
.row::after {
  clear: both;
  display: block;
  content: '';
}

/* line 17, ../sass/_grid.scss */
.col1 {
  width: 8.3333333333%;
  float: left;
  padding: 10px;
}

/* line 23, ../sass/_grid.scss */
.col2 {
  width: 16.6666666667%;
  float: left;
  padding: 10px;
}

/* line 29, ../sass/_grid.scss */
.col3 {
  width: 25%;
  float: left;
  padding: 10px;
}

/* line 35, ../sass/_grid.scss */
.col4 {
  width: 33.3333333333%;
  float: left;
  padding: 10px;
}

/* line 41, ../sass/_grid.scss */
.col5 {
  width: 41.6666666667%;
  float: left;
  padding: 10px;
}

/* line 47, ../sass/_grid.scss */
.col6 {
  width: 50%;
  float: left;
  padding: 10px;
}

/* line 53, ../sass/_grid.scss */
.col7 {
  width: 58.3333333333%;
  float: left;
  padding: 10px;
}

/* line 59, ../sass/_grid.scss */
.col8 {
  width: 66.6666666667%;
  float: left;
  padding: 10px;
}

/* line 65, ../sass/_grid.scss */
.col9 {
  width: 75%;
  float: left;
  padding: 10px;
}

/* line 71, ../sass/_grid.scss */
.col10 {
  width: 83.3333333333%;
  float: left;
  padding: 10px;
}

/* line 77, ../sass/_grid.scss */
.col11 {
  width: 91.6666666667%;
  float: left;
  padding: 10px;
}

/* line 83, ../sass/_grid.scss */
.col12 {
  width: 100%;
  float: left;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  /* line 91, ../sass/_grid.scss */
  .colM1 {
    width: 8.3333333333%;
  }

  /* line 95, ../sass/_grid.scss */
  .colM2 {
    width: 16.6666666667%;
  }

  /* line 99, ../sass/_grid.scss */
  .colM3 {
    width: 25%;
  }

  /* line 103, ../sass/_grid.scss */
  .colM4 {
    width: 33.3333333333%;
  }

  /* line 107, ../sass/_grid.scss */
  .colM5 {
    width: 41.6666666667%;
  }

  /* line 111, ../sass/_grid.scss */
  .colM6 {
    width: 50%;
  }

  /* line 115, ../sass/_grid.scss */
  .colM7 {
    width: 58.3333333333%;
  }

  /* line 119, ../sass/_grid.scss */
  .colM8 {
    width: 66.6666666667%;
  }

  /* line 123, ../sass/_grid.scss */
  .colM9 {
    width: 75%;
  }

  /* line 127, ../sass/_grid.scss */
  .colM10 {
    width: 83.3333333333%;
  }

  /* line 131, ../sass/_grid.scss */
  .colM11 {
    width: 91.6666666667%;
  }

  /* line 135, ../sass/_grid.scss */
  .colM12 {
    width: 100%;
  }

  /* line 138, ../sass/_grid.scss */
  .hamburgerIcon {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  /* line 144, ../sass/_grid.scss */
  .colL1 {
    width: 8.3333333333%;
  }

  /* line 148, ../sass/_grid.scss */
  .colL2 {
    width: 16.6666666667%;
  }

  /* line 152, ../sass/_grid.scss */
  .colL3 {
    width: 25%;
  }

  /* line 156, ../sass/_grid.scss */
  .colL4 {
    width: 33.3333333333%;
  }

  /* line 160, ../sass/_grid.scss */
  .colL5 {
    width: 41.6666666667%;
  }

  /* line 164, ../sass/_grid.scss */
  .colL6 {
    width: 50%;
  }

  /* line 168, ../sass/_grid.scss */
  .colL7 {
    width: 58.3333333333%;
  }

  /* line 172, ../sass/_grid.scss */
  .colL8 {
    width: 66.6666666667%;
  }

  /* line 176, ../sass/_grid.scss */
  .colL9 {
    width: 75%;
  }

  /* line 180, ../sass/_grid.scss */
  .colL10 {
    width: 83.3333333333%;
  }

  /* line 184, ../sass/_grid.scss */
  .colL11 {
    width: 91.6666666667%;
  }

  /* line 188, ../sass/_grid.scss */
  .colL12 {
    width: 100%;
  }
}
/* line 7, ../sass/style.scss */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* line 11, ../sass/style.scss */
.container {
  max-width: 100vw;
  margin: 0 auto;
}

/* line 15, ../sass/style.scss */
.navContainer {
  width: 100%;
  padding: 10px;
  background-color: #ba5252;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

/* line 24, ../sass/style.scss */
.navLinks {
  color: white;
  display: none;
}

/* line 28, ../sass/style.scss */
.navList {
  list-style: none;
  display: inline;
}

/* line 33, ../sass/style.scss */
.navItem {
  font-size: 30px;
  font-weight: bold;
  padding: 0px 25px;
  float: left;
}

/* line 39, ../sass/style.scss */
.navItem::after {
  clear: both;
  display: block;
  content: '';
}

/* line 44, ../sass/style.scss */
.logoTopNav {
  float: left;
  font-size: 30px;
  padding: 0px 20px;
}

/* line 49, ../sass/style.scss */
.logoTopNav a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

/* line 54, ../sass/style.scss */
.logoTopNav::after {
  clear: both;
  display: block;
  content: '';
}

/* line 59, ../sass/style.scss */
.socialTopNav {
  float: right;
  color: white;
  display: none;
}

/* line 64, ../sass/style.scss */
.socialItemTopNav {
  padding-right: 10px;
}

/* line 67, ../sass/style.scss */
.hamburgerIcon {
  float: right;
  color: white;
}

/* line 74, ../sass/style.scss */
.hanoiIntro {
  float: left;
  padding: 150px 40px 40px 40px;
  font-size: 16px;
  text-align: center;
}

/* line 81, ../sass/style.scss */
.headerStyleSmall {
  font-size: 45px;
  color: grey;
}

/* line 86, ../sass/style.scss */
.headerStyleLarge {
  font-size: 50px;
  color: #ba5252;
}

/* line 90, ../sass/style.scss */
.hanoiIntroText {
  font-size: 30px;
  color: #ba5252;
  margin-top: 6%;
}

/* line 95, ../sass/style.scss */
.button {
  background-color: #ba5252;
  color: white;
  border-radius: 25px;
  padding: 6px 15px;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

/* line 104, ../sass/style.scss */
.aboutUsButton {
  margin-top: 20%;
}

/* line 107, ../sass/style.scss */
.menuButton {
  margin-top: 20px;
}

/* line 110, ../sass/style.scss */
.introContainer {
  background-color: black;
}

/* line 113, ../sass/style.scss */
.introImageContainer {
  background-image: url("../img/apache-intro.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  display: none;
  line-height: 0px;
}

/* line 122, ../sass/style.scss */
.flexrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 125, ../sass/style.scss */
.menuContainer {
  background-color: #ba5252;
}

/* line 128, ../sass/style.scss */
.menuHeader {
  text-align: center;
  padding-top: 100px;
  color: white;
}

/* line 133, ../sass/style.scss */
.menuButton {
  background-color: white;
  color: #ba5252;
  margin-right: 10px;
  margin-left: 10px;
}

/* line 139, ../sass/style.scss */
.menuButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 143, ../sass/style.scss */
.card {
  margin-top: 100px;
  background-color: white;
  border-radius: 10px;
}

/* line 148, ../sass/style.scss */
.cardColoumn {
  padding: 0px 15px;
}

/* line 151, ../sass/style.scss */
.menuItemContainer {
  padding: 0px 20px 0px 20px;
}

/* line 154, ../sass/style.scss */
.menuItemText {
  padding: 0px 0px 10px 0px;
}

/* line 157, ../sass/style.scss */
.menuPrice {
  padding: 15px;
}

/* line 160, ../sass/style.scss */
.menuItemHeader {
  padding-bottom: 10px;
}

/* line 163, ../sass/style.scss */
.cardText {
  padding: 10px 15px;
  text-align: center;
}

/* line 167, ../sass/style.scss */
.cardImage {
  padding: 0px 15px;
  display: none;
}

/* line 171, ../sass/style.scss */
.viewMenuButtonContainer {
  padding: 60px 0px 80px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 176, ../sass/style.scss */
.mobileMenuHeader {
  color: white;
  padding: 10px 20px;
  font-size: 25px;
}

/* line 181, ../sass/style.scss */
.footerContainer {
  background-color: #363535;
  padding: 20px;
}

/* line 185, ../sass/style.scss */
.footerLine {
  color: grey;
}

/* line 188, ../sass/style.scss */
.bottomNavlist {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 194, ../sass/style.scss */
.bottomNavLinks {
  color: white;
  padding: 10px 0px 0px 10px;
}

/* line 198, ../sass/style.scss */
.bottomNavLinksSmall {
  color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

/* line 205, ../sass/style.scss */
.contactList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

@media screen and (min-width: 600px) {
  /* line 213, ../sass/style.scss */
  .cardImage {
    padding: 0px 15px;
    display: block;
  }

  /* line 217, ../sass/style.scss */
  .introContainer {
    background-color: white;
  }
}
@media screen and (min-width: 1000px) {
  /* line 222, ../sass/style.scss */
  .introImageContainer {
    display: block;
  }

  /* line 225, ../sass/style.scss */
  .hamburgerIcon {
    display: none;
  }

  /* line 228, ../sass/style.scss */
  .navLinks {
    display: block;
  }

  /* line 231, ../sass/style.scss */
  .socialTopNav {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */