@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
// variables
$primaryColour: #ba5252;
$primaryFont: 'Roboto', sans-serif;

body{
    font-family: $primaryFont;
    font-size: 16px;
}
.container{
    max-width: 100vw;
    margin: 0 auto;
}
.navContainer{
    width: 100%;
    padding: 10px;
    background-color: $primaryColour;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.navLinks{
    color: white;
    display: none;
}
.navList{
    list-style: none;
    display: inline;

}
.navItem{
    font-size: 25px;
    font-weight: bold;
    padding: 3px 25px;
    float:left;
}
.navItem::after{
    clear: both;
    display: block;
    content: '';
}
.logoTopNav{
    float: left;
    font-size: 30px;
    padding: 0px 40px;
}
.logoTopNav a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}
.logoTopNav::after{
    clear: both;
    display: block;
    content: '';
}
.socialTopNav{
    float: right;
    color: white;
    display: none;
}
.socialItemTopNav{
    padding-right: 10px;
}
.hamburgerIcon{
    float: right;
    color: white;
    padding: 3px 10px;
}
.introContainer{

}
.hanoiIntro{
    float: left;
    padding: 150px 40px 40px 40px;
    font-size: 16px;
    text-align: center;

}
.headerStyleSmall{
    font-size: 45px;
    color: grey;

}
.headerStyleLarge{
    font-size: 50px;
    color: $primaryColour;
}
.hanoiIntroText{
    font-size: 30px;
    color: $primaryColour;
    margin-top: 6%;
}
.button{
    background-color: $primaryColour;
    color: white;
    border-radius: 25px;
    padding: 6px 15px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
.aboutUsButton{
    margin-top: 20%;
}
.menuButton{
    margin-top: 20px;
}
.introContainer{
    background-color: black;
}
.introImageContainer{
    background-image: url('../img/apache-intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    // float: right;
    display: none;
    line-height: 0px;
}
.flexrow{
    display: flex;
}
.flex{
    display: flex;
}
.bold{
    font-weight: bold;
}
.menuContainer{
    background-color: $primaryColour;
}
.menuHeader{
    text-align: center;
    padding-top: 100px;
    color: white;
}
.menuButton{
    background-color: white;
    color: $primaryColour;
    margin-right: 10px;
    margin-left: 10px;
}
.menuButtonContainer{
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 100px;
    background-color: white;
    border-radius: 10px;
}
.cardColoumn{
    padding: 0px 15px;
}
.menuItemContainer{
    padding: 0px 20px 0px 20px;
}
.menuItemText{
    padding: 0px 0px 10px 0px;
}
.menuPrice{
    padding: 15px;
}
.menuItemHeader{
    padding-bottom: 10px;
}
.cardText{
    padding: 10px 15px;
    text-align: center;
}
.cardImage{
    padding: 0px 15px;
    display: none;
}
.viewMenuButtonContainer{
    padding: 60px 0px 80px 0px;
    display: flex;
    justify-content: center;
}
.mobileMenuHeader{
    color: white;
    padding: 10px 20px;
    font-size: 25px;
}
.footerContainer{
    background-color: #363535;
    padding: 20px 40px 20px 40px;
}
.footerRow{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.contactLink{
    font-size: 16px;
    color: darkgrey;
}
.footerNavLinks{
    color: white;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0px 20px 0px;
    ul{
        list-style: none;
        li{
            padding-top: 10px;
        }
    }
}
.footerPolicy{
    color: grey;
    list-style: none;
    display: none;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
        text-align: center;
        li{
            padding-top: 20px;
        }
    }
}
.footerContact{
    color: white;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    padding-top: 10px;
    ul{
        list-style: none;
        li{
            padding-top: 10px;
        }
    }
}
@media screen and (min-width: 600px){
    .cardImage{
        padding: 0px 15px;
        display: block;
    }
    .introContainer{
        background-color: white;
    }
}
@media screen and (min-width: 1000px){
    .introImageContainer{
        display: block;
    }
    .hamburgerIcon{
        display: none;
    }
    .navLinks{
        display: block;
    }
    .socialTopNav{
        display: block;
    }
    .hanoiIntro{
        text-align: left;
    }
}
